[package]
name = "p3-miden-air"
description = "Miden-specific AIR traits and utilities for Plonky3."
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
p3-air.workspace = true
p3-field.workspace = true
p3-matrix.workspace = true
